<extend name="Bee1/common" />
<block name="body">
  <div class="container">
  <div class="modal fade" id="create_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog"> 
          <div class="modal-content"> 
               <div class="modal-body">
                    <form action="" class="comForm">
                        <div>
                            <input  type="text" placeholder="输入场景名称" class="inp login_email" id="addtitle"/>
                        </div>
                        <div>
                            <select class="inp login_email" id="addcategory">
                                <option value="">给场景分类</option>
                                <volist name="categorys" id="val">
                                   <option value="{$val['id']}">{$val['name']}</option>
                                </volist>
                           </select>
                        </div>
                        <input type="hidden" value="{$project_name}" id="addname">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">确定</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div> 
            </div> 
       </div> 
  </div>    
  <div class="wrapper">
  <div class="mobile" style="margin: 3% 0 0 8%;padding: 7% 2%;">
        <a href="javascript:window.history.go(-1)" class="goPre"></a>
        <iframe src="{$pc_url}"  style="height: 600px;width: 376px;border: none;position:relative;right:2px;top:37px"></iframe>
  </div>
  <div class="shareBoxB"></div>
  <div class="shareBox">
    <h4>&nbsp;用微信扫码，分享到朋友圈！</h4>
     <div style="width: 215px;height: 214px;margin: 5px auto 0;" id="codeshow"></div>
    <a href="{$qr_svg}"><p style="width:215px;margin-left:17px"><i class="icoDownload"></i>点击下载二维码</p></a>
    <i class="line2 mt10"></i>
    <h4 class="mt20">模板链接</h4>
    <input type="text" value="{$url}" readonly="readonly">
     <p id="clip_container" style="position: relative;width:100%;text-align: center;" class="mb60">
        <b id="a_cptxt"  style="width: 100%;height:40px;line-height:40px;position: absolute;left: 0px;">点击复制</b>
     </p>
    <span>&nbsp;&nbsp;&nbsp;这个模板太赞了，<a style="cursor:pointer" value="{:U('project/create', 'name='.$project_name)}"  name ="{$project_name}" data-toggle="modal" data-target="#create_add">我也要做!</a></span>
  </div>
</div>
 </div> 
</block>
<block name="script">
<script src="/Public/bee1/js/zeroclip/ZeroClipboard.js"></script>
 <script>
    $(function(){
      $("body").addClass('bg');
      // 上下线按钮，在父元素上绑定事件，提高效率
      $(".main").on("click","a.offline",function(){
          $(this).removeClass('offline');
          $(this).addClass('online');
      });

      $(".main").on("click","a.online",function(){
          $(this).removeClass('online');
          $(this).addClass('offline');
      });
      
      var codeshow =$("#codeshow");
      var codeurl='<?php echo $url;?>';
       var qrcode = new QRCode(codeshow[0], {
          width : 215,
          height : 215
      });	   
      qrcode.makeCode(codeurl);
    });
    
    // 复制分享
    function init_cpswf() {
    	ZeroClipboard.moviePath = '/Public/bee1/js/zeroclip/ZeroClipboard.swf'
    	var clip = new ZeroClipboard.Client();
    	clip.setHandCursor( true );
    	clip.setCSSEffects( true );
    	 clip.addEventListener('load', function (client) {
    		debugstr("Flash movie loaded and ready.");
    	});

    	clip.addEventListener('mouseOver', function (client) {
    		clip.setText('<?php echo $url;?>');
    	});

    	clip.addEventListener('complete', function (client, text) {
    		document.getElementById('a_cptxt').className = '';
    		alert('游戏地址（'+text+'）已复制，您可以在QQ、MSN、邮箱或论坛上直接粘贴，向朋友推荐本游戏！');
    	});
    	clip.glue( 'a_cptxt', 'clip_container' );
    }

    init_cpswf();
  </script>
</block>
<block name="footer"></block>