<extend name="Base/common" />
<block name="style">
<link rel="stylesheet" href="/Public/bee1/css/main.css" />   
<style type="text/css">
.hall { padding-top:15px; }
.hall .more { padding-left:20px; font-size:14px; }
.hall .item{ display:block; padding:15px; overflow:hidden; text-align:center }
.hall .item h4{ height:20px; line-height:20px; font-size:1.1em; overflow:hidden }
.hall .item:hover{ border-radius: 2px; background:#2b2f3e; }
.hall .item .img-responsive{ width:100%; border-radius:15%; opacity: .9 }
.hall .item:hover .img-responsive{ opacity: 1}

.hall .item .fa-times{ cursor:pointer; display:none; position:absolute; font-size:20px; line-height:40px; border-radius:50%; width: 40px; height:40px; right:6px }
.hall .item .fa-edit{ cursor:pointer; display:none; position:absolute; font-size:20px; line-height:40px; border-radius:50%; width: 40px; height:40px; top:60px;right:6px }

.hall .item:hover .fa-times{ display:block; background-color:#f66; color:#fff }
.hall .item:hover .fa-edit{ display:block; background-color:#61CA61; color:#fff }
@media (min-width: 768px) {
    .col-sm-2 { width:16.6%; float:left;}
    .col-sm-3 .img-responsive, .col-sm-2 .img-responsive{ height:95px; width:95px}
}
@media (min-width: 992px) {
    .col-sm-3 .img-responsive, .col-sm-2 .img-responsive{ height:132px; width:132px}
}
@media (min-width: 1200px) {
    .col-sm-3 .img-responsive, .col-sm-2 .img-responsive{ height:165px; width:165px}
}
</style>
</block>
<block name="body">
<div class="container hall">
    <div class="user-profile">
        <table><tr><td class="avatar">
            <img src="http://mat1.gtimg.com/www/mb/img/p1/head_normal_100.png">
        </td><td>
            <h1>spcent@qq.com <a href="/template/" target="_blank" class="btn btn btn-success">开始制作!</a></h1>
            <table class="info"><tr><td>全部的游戏
            </td><td>游戏点击量
            </td><!--td>3
            </td--></tr><tr><td class="num">3            </td><td class="num">31            </td><!--td class="num">5
            </td--></tr></table>
        </td></tr></table>
    </div>
    <div class="row">
                <div class="col-xs-6 col-sm-2 item" app_id="fbd36deb">
                        <a href="javascript:void(0)" class="fa fa-times"></a>
            <a href="/editor/fbd36deb" target="_blank" class="fa fa-edit"></a>
                        <a href="/play/fbd36deb"><img class="img-responsive" src="http://h5.cocoachina.com/static/app/fbd36deb/icon.png"></a>
            <h4>2048</h4>
            <span class="text-muted"><i class="fa fa-eye">0</i><i class="fa fa-heart">0</i></span>            <span class="text-muted">未发布</span>
        </div>
                <div class="col-xs-6 col-sm-2 item" app_id="255d5bb5">
                        <a href="javascript:void(0)" class="fa fa-times"></a>
            <a href="/editor/255d5bb5" target="_blank" class="fa fa-edit"></a>
                        <a href="/play/255d5bb5"><img class="img-responsive" src="http://h5.cocoachina.com/static/app/255d5bb5/icon.png"></a>
            <h4>spcentguess</h4>
            <span class="text-muted"><i class="fa fa-eye">11</i><i class="fa fa-heart">0</i></span>            <span class="text-muted">已发布</span>
        </div>
                <div class="col-xs-6 col-sm-2 item" app_id="26767511">
                        <a href="javascript:void(0)" class="fa fa-times"></a>
            <a href="/editor/26767511" target="_blank" class="fa fa-edit"></a>
                        <a href="/play/26767511"><img class="img-responsive" src="http://h5.cocoachina.com/static/app/26767511/icon.png"></a>
            <h4>spcent2048</h4>
            <span class="text-muted"><i class="fa fa-eye">20</i><i class="fa fa-heart">0</i></span>            <span class="text-muted">已发布</span>
        </div>
            </div>
    </div>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="footer"><div class="container">2014 &copy; 9RIA蜂群工作室</div></div>
</block>
<block name="script">
<script>
try{
  console.log("%c 9RIA蜂群工作室     ", "background: #81A4FF; color: #fff; border-right: 88px solid #D2FF00; border-left: 10px solid #445CA5;");
}catch(e){}
</script>  
</block>