<extend name="Bee1/common" />
<block name="style">
<link rel="stylesheet" href="/Public/bee1/css/main.css" />    
<style> </style>
</block>
<block name="body">
<div class="mainContainer">    
	<div class="line mt20">
	   <h2 class="h2tit">我的消息</h2>
	</div>
	<div class="boxWhite">
		<table class="dataTable">
			<tbody>
				<tr>
                                    <th>ID</th>
                                    <th>标题</th>
                                    <th>时间</th>
                                    <th>详情</th></tr>
				<volist name="items" id="item">
				<tr>
                                    <td>{$item.id}</td>
                                    <td>{$item.title}</td>
                                    <td>{:time_format($item.create_times)}</td>  
                                    <td><a href="{:U('index', 'id='.$item['id'])}" class="dataA">详情</a></td>  
				</tr>
				</volist>
			</tbody>
		</table>
		<div class="pages">
		{$page|default=''}
		</div>
	</div>
</div>
</block>