<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{$meta_title ? $meta_title : C('WEB_SITE_TITLE')}</title>
    <meta name="description" content="{$meta_desc ? $meta_desc : C('WEB_SITE_DESCRIPTION')}" />
    <meta name="keywords" content="{$meta_keyword ? $meta_keyword : C('WEB_SITE_KEYWORD')}" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/Public/iwatch/styles/pagetemplate.css" />
    <link rel="stylesheet" type="text/css" href="/Public/bee1/css/ppttemplate.css" />
    <link rel="stylesheet" href="/Public/bee/css/bootstrap.min.css" />
    <script href="/Public/bee1/js/ie-css3.htc"></script>
    <link rel="stylesheet" href="/Public/bee1/css/main.css" />
    <script type="text/javascript" src="/Public/iwatch/scripts/jquery.min.js"></script>
    <script src="/Public/static/bootstrap.min.js"></script>
    <script src="/Public/static/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <!-- guider start-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <a href="{:U('index/index')}" class="logo"></a>
        <div class="loginInfo">
          <if condition="is_login()">
              <a href="{:U('User/accountinfo')}">{:get_username()}</a> <a href="{:U('home/user/logout')}" style="margin-left:20px;" class="logout">退出</a>
          <else/>
              <a href="#" data-toggle="modal" class="login">登录</a>
          </if>
        </div>
        <div class="container" style="width:60%;position: absolute;top: 0;left: 264px;">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <if condition="is_login()">
                <li class="<?php if($Think.CONTROLLER_NAME == 'Project') echo 'active';?>"><a href="{:U('home/project/index')}">我的项目</a></li>
                <li class="<?php if( $Think.CONTROLLER_NAME == 'Statistics') echo 'active';?>">
                    <a href="{:U('home/statistics/index')}">我的数据</a>
                </li>
                </if>
                <li class="<?php if($Think.CONTROLLER_NAME == 'Template') echo 'active';?>"><a href="{:U('home/template/index')}">模板库</a></li>
                <li class="<?php if($Think.CONTROLLER_NAME == 'Index' && $Think.ACTION_NAME == 'qa') echo 'active';?>"><a href="{:U('home/index/qa')}">帮助中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- guider end -->
    <div class="container"> 
        <div class="line titFix">
            <h2 class="h2tit">创建场景</h2><!--<a class='bgAudioBtn' name="bgAudio" onclick="audioSwitch(this);"><i class="audioBtn"></i></a>-->
        </div>
        <div class="main-body">
            <!-- 右侧编辑视图 start -->
            <div class="body-right">
                <div class="line">  
                    <h3>替换游戏资源</h3> 
                </div>
                <div class="editor pptPage"> 
                    <div class="cate"> 
                    <ol class="classify box-container" id="accordion"></ol>
                    </div>
                </div>
            </div>
            <div class="body-left">
                <div id="ppitest" style="width:1in;visible:hidden;padding:0px"></div>
                <div class="p-index main phoneBox editor" id="con" style="display: none;">
            <!--上下滚动 start-->
            <!-- <div class="top"></div> -->
            <!-- <div class="phone_menubar"></div> -->
                    <div class="scene_title_baner" style="display: none">
                        <div class="scene_title"></div>
                    </div>
                    <div class="nr">
                        <div id="audio_btn" class="off">
                            <div id="yinfu"></div>
                            <audio loop="" src="" id="media" autoplay="" preload></audio>
                        </div>
                        <div id="loading" class="loading">
                            <div class="loadbox">
                                <div class="loadlogo"></div>
                                <div class="loadbg"></div>
                            </div>
                        </div>
                    </div>
            <!-- <div class="bottom"></div> -->
            <!--上下滚动代码 end-->
                </div>
                <div class="btnBlue publish"><i class="icoSave"></i>保存修改并下一步</div> 
            </div>
            <!-- 左侧预览视图 end-->
        </div> 
    </div>
    <script type="text/javascript">
        window.projectType = 'publish';
        var clientWidth = document.documentElement.clientWidth;
        var INTERVAL_OBJ = {}; // 用于图集使用的定时器对象
        var pageNo  = 1; //左侧展示的页面名次

        var gamecreator = gamecreator || {};
            gamecreator.app_id = "{$app_id}";
            gamecreator.static_url = '/Public/gamecreator/app/';
            gamecreator.check_app_name_url = "{:U('checkName')}";
            gamecreator.write_file_url = "{:U('write')}";
            gamecreator.replace_res_file = "{:U('replace')}";
            gamecreator.get_app_libs_url = "{:U('libs')}";
            gamecreator.get_app_files_url = "{:U('codelist')}";
            gamecreator.mode = '{$mode}';
            gamecreator.raffletypes = "{$raffletypes}".split(',');
            gamecreator.time = new Date().getTime();

            var setting = {$setting};
            var prizes  = {$prizes};
            var mode    = '{$mode}';
            var token   = '{$token}';
            var appid   = {$appid};
    </script>
    <script type="text/javascript" src="/Public/iwatch/scripts/jquery.easing.js"></script>
    <script type="text/javascript" src="/Public/bee1/js/jquery-ui-1.11.3-min.js"></script>
    <script type="text/javascript" src="/Public/bee1/uploadjs/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/Public/iwatch/scripts/9riapage.js"></script>
    <script type="text/javascript" src="/Public/bee1/js/bee.js"></script>
    <script type="text/javascript" src="/Public/bee1/js/bee.ppt.js"></script>
    <script type="text/javascript">
        $(function(){
        //获取配置文件数据
            bee.get_template(gamecreator.app_id, function (data){
                gamecreator.tmpsdata = data;
                console.log(data);
                var vars = data.templateVars,var1 = data.share,categories = 

                data.templateCategory,i=1,catelength=Object.keys(categories).length;
                for (var cateIndex in categories) {
                if(i == 1 || i== catelength){
                    var html = '<li>'+
                    '<h4 class="select-label">' + i + '.' + cateIndex + '</h4>';
                }else{
                    var html = '<li>'+
                    '<h4>' + i + '.<input type="text" value="" placeholder="' + cateIndex + '">'+
                        '<div class="opbtn">'+
                            '<div class="addBtn"></div>'+
                            '<div class="moveBtn"></div>'+
                            '<div class="delBtn"></div>'+
                        '</div>'+
                        '<select name="" form="" class="selectList">'+
                            '<option value="volvo">板式一</option>'+
                            '<option value="saab">板式二</option>'+
                            '<option value="opel">板式三</option>'+
                            '<option value="audi">板式四</option>'+
                        '</select>'+
                    '</h4>';
                }
                html +='<div class="panelBox" action-number="' + i + '"><div class="line"></div>';
                for (var resourcename in categories[cateIndex]) {
                    var key = categories[cateIndex][resourcename];
                    if (vars[key]) {
                        if (vars[key]['type'] == 'IMAGE') {
                            html +='<div class="item t-image box" action-data="'+ vars[key]['texUrl'] +'" action-type="IMAGE" name="' + key + '" title="' + vars[key]['desc'] + '">\
                                <div class="icon">\
                                  <div type="image" class="imgbox" style="background-image: url(\'/Public/gamecreator/app/'+gamecreator.app_id+'/'+vars[key]['texUrl']+'?t='+gamecreator.time+'\');'+AutoResizeImage(100,100,vars[key]['originW'],vars[key]['originH'])+'"></div>\
                                </div>\
                                <p><a href="#">'+vars[key]['desc']+'</a> <span>推荐尺寸：<i class="fblue">' + vars[key]['originW'] + 'px*' + vars[key]['originH'] + 'px</i></span></p>\
                              </div>';
                            }else if(vars[key]['type'] == 'STRING'){
                              html+='<div class="item t-text box" name="desc3" title="'+vars[key]['value']+'" action-data="'+ key +'" action-type="STRING" action-name="'+vars[key]['desc']+'">\
                                <div class="icon">\
                                  <div type="text" class="strbox" style="word-break:break-word;">'+vars[key]['value']+'</div>\
                                </div>\
                                <p>'+vars[key]['desc']+'</p>\
                              </div>';
                            }else if(vars[key]['type'] == 'AUDIO'){
                              html+='<div class="item t-text box" name="'+vars[key]['recommendSize']+'" title="'+vars[key]['desc']+'" action-data="'+ vars[key]['texUrl'] +'" action-type="AUDIO" action-name="'+var1['setting']['switch']+'">\
                                <div class="icon">\
                                <div id="audio" name="'+ vars[key]['name']+'" action-name="'+var1['setting']['switch']+'"></div>\
                                  <div type="image" class="imgbox" style="word-break:break-word;background-image: url(\'/Public/bee1/images/musicicon.png\');"></div>\
                                </div>\
                                <p><a href="#">'+vars[key]['desc']+'</a><span>推荐时长：<i class="fblue">'+ vars[key]['recommendTime'] +'</i></span></p>\
                              </div>';
                            }else{}
                    }else{
                        console.log('vars不存在');
                    }
                }

                html+='</div></li>';
                    $(".box-container").append(html);
                    i++;
                }

                // 场景
                $( "#accordion" ).accordion({
                    heightStyle : "content",
                    activate : function(event, ui){
                        new bee.ppt.pagechange(ui);
                    }
                });

                //默认展示第一页
                $(document).trigger("pagetemplate.play",pageNo);

                // 修改后触发 重新获取数据
                $(document).bind("bee.reloadgame", function(event){
                    console.log('bee.reloadgame');
                    $(document).trigger("pagetemplate.getdata",function(){
                        $(document).trigger("pagetemplate.play",pageNo);
                    });
                });


                // 弹出框
                $(".box-container").on("click", ".box", function (e){
                    bee.replacepanel($(e.target).closest(".box"));
                    e.stopPropagation();
                });
                
                $(document).bind("bee.removepopover", function(event){
                  if(bee.replacetabs.dlg){bee.replacetabs.dlg.remove();}
                });

                $(document).on("click",function(e){
                  $(document).trigger('bee.removepopover');
                });
            });
        });
    </script>
</body>