<extend name="Bee1/common" />
<block name="style">
<link rel="stylesheet" href="/Public/bee1/css/main.css" />
<style>
/*表单*/
.comForm1{width: 580px;padding:50px 100px 40px;margin:0 auto;border-radius: 10px;text-align: center;cursor: pointer; }
.comForm1 div{margin:0;height: 60px;line-height: 60px}
.comForm1 .inp{width:370px;height:35px;line-height:28px;margin-left:10px;padding:3px 5px;/*background:#547807;*/border: #b5b5b5 solid 1px;border-radius: 5px;color: #b4b4b4 }
.comForm1 label{display:inline-block;color:#547807;font-size: 1.3em;/*font-weight: bold;*/font-family:'\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';}/*微软雅黑，黑体*/
.comForm1 .btnCom{display:inline-block;width: 180px;height: 30px;line-height:30px;margin:0 auto 0;border-radius:5px;color: #8fc31f;border: #8fc31f solid 1px}
.codeBoxTop {width:100%; padding:10px 31px 20px;}
.codeBoxTop .codeshow{width:100%; display:block; background:#FFF;padding:10px;margin-bottom:15px;cursor:pointer;}
.codeBoxTop img{width: 161px!important;height: 161px!important;border:none;margin:0;/*margin: 5px auto 15px auto;border: 10px solid #fff;*/}
.codeBoxTop h5 {color:#FFF;}
.codeBoxTop a {margin:0 0 5px 0;width:87px;cursor:pointer;display:block;float:left;}
.codeBoxTop a.codeBoxEditBtn {margin: 0 5px 0 0;}
.codeBoxTop a.codeBoxDelBtn {width:179px;}
</style>
</block>
<block name="body">
    <div class="mainContainer">
        <!-- 上下线弹框 -->
        <div class="modal fade" id="offlinebox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog"> 
                <div class="modal-content"> 
                    <div class="modal-body"> 
                       <h3>确定下线此模板？</h3>
                                                   将模板下线后，用户将无法浏览项目并看到模板下线提示，提示内容可在模板中进行编辑。      
                    </div> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">下线</button>
                    </div>
                </div> 
            </div> 
        </div>
        <!-- 上下线弹框 end-->
	    <!-- 删除弹框 -->
	    <div class="modal fade" id="delbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog"> 
	            <div class="modal-content"> 
	                <div class="modal-body"> 
	                   <h3>确定删除此模板？</h3>
	                                               将模板删除后，用户将无法浏览和编辑此模板。      
	                </div> 
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                    <button type="button" class="btn btn-primary">删除</button>
	                </div>
	            </div> 
	        </div> 
	    </div>
	    <!-- 删除弹框 end-->
	    <!-- 复制弹框 -->
	    <div class="modal fade" id="copybox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog"> 
	            <div class="modal-content"> 
	                <div class="modal-body">
	                    <form action="" class="comForm1">
                            <h3>输入复制模板信息</h3>
							<div>
							    <input  type="text" placeholder="输入场景名称" class="inp login_email" id="addtitle"/>
							</div>
	                        <div>
	                            <select class="inp login_email" id="addcategory">
	                                <option value="">给场景分类</option>
	                                <volist name="categorys" id="val">
	                                   <option value="{$val['id']}" >{$val['name']}</option>
	                                </volist>
	                           </select>
	                        </div>
	                        <div class="modal-footer">
	                            <button type="button" class="btn btn-primary">确定</button>
	                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                        </div>
	                    </form>     
	                </div>
	            </div> 
	        </div> 
	    </div>
	   <!-- 复制弹框 end-->
	    <div class="line">
	       <h2 class="h2tit"> 我的项目</h2>
	    </div>
	    <ul class="introList clearfix">
	        <li class="borderN">
	            <a href="{:U('template/index')}"><span class="icoCreat fl tl">创建场景</span></a>
	        </li>
	        <li>{$totalPage}<span><i class="icoC"></i>场景数</span></li>
	        <li>{$gamecount.pageview}<span><i class="icoView"></i>浏览量</span></li>
	        <li>{$gamecount.userview}<span><i class="icoVistor"></i>访客数</span></li>
	        <li class="borderN">{$gamecount.sharecount}<span><i class="icoZ"></i>转发量</span></li>
	    </ul>
	    <ul class="main">
	       <volist name="games" id="game">
	        <li>
	            <div class="topB">
	                <img src="Public/gamecreator/app/{$game.token}/icon.png" alt="{$game.title}">
	            </div>
	            <div class="tit">
	                <span>{$game.title}</span>
	                <if condition="$game.status == 2">
	                    <a href="#offlinebox" data-toggle="modal" class="setOfflineStatus online" rid="{$game.token}"></a>
	                <else/>
	                    <a href="javascript:;" class="setOnlineStatus offline" rid="{$game.token}"></a>
	                </if>
	            </div>
	            <p class="countNum">
	                <span>浏览量：{$game.pv}</span>
	                <span>转发数：{$game.sc}</span>
	                <span>访客数：{$game.uv}</span>
	            </p>
	            <div class="codeBox"></div>
	            <div class="codeBoxTop">
                    <h5>点击或扫描二维码进行试玩</h5>
	                <div class="codeshow" value="{$game.code_url}" publishvalue="{$game.publish_url}"></div>
	                <div style="clear:both;">
		                <a href="{$game.edit_url}" class="codeBoxEditBtn">编辑</a>
		                <a href="#copybox" data-toggle="modal" class="codeBoxCopyBtn" rid="{$game.token}">复制</a>
		                <a href="#delbox" data-toggle="modal" class="codeBoxDelBtn" rid="{$game.token}">删除</a>
	                </div>
	            </div>
	        </li>
	        </volist>
	    </ul>
	<notempty name="is_more"><a class="more" href="javascript:void(0);">查看更多...</a></notempty>
    </div>
</block>
<block name="script">
<script>
$(function(){
    var bootstart = function () {
        $('li div.topB').mouseover(function() {
            var target = $(this).parent();
            var codeBox = target.find('.codeBox');
            var codeBoxTop = target.find('.codeBoxTop');
            var codeShow = codeBoxTop.find('.codeshow');
            var codeUrl = codeShow.attr('value');
            var publishUrl = codeShow.attr('publishvalue');

            codeBox.show();
            codeBoxTop.show();

            var codeHtml = codeShow.html();
            if(codeHtml == '') {
                codeShow.click(function() {
                    if(codeUrl) location.href = publishUrl;
                });

                //异步加载
                var qrcode = new QRCode(codeShow[0], {
                    width : 161,
                    height : 161
                });

                qrcode.makeCode(codeUrl);
            }
        });

        $(".main li").mouseleave(function(){
            var target = $(this);
            var codeBox = target.find('.codeBox');
            var codeBoxTop = target.find('.codeBoxTop');
            //var codeShow = codeBoxTop.children('.codeshow');

            codeBox.hide();
            codeBoxTop.hide();
            //codeShow.html('');
        });


        $('.setOnlineStatus').bind("click", function() {
            var rid = $(this).attr('rid');
            setStatus(rid, 2);
        });

        $('.codeBoxDelBtn').bind("click", function() {
            var rid = $(this).attr('rid');
            cur_del_rid = rid;
        });

        $('.codeBoxCopyBtn').bind("click", function() {
            var rid = $(this).attr('rid');
            cur_copy_rid = rid;
        });

        $('.setOfflineStatus').bind("click", function() {
            var rid = $(this).attr('rid');
            cur_offline_rid = rid;
        });
    }

    var setStatus = function(rid, status) {
        $.post('{:U("setStatus")}', {appid: rid, status: status}, function(res) {
            if (res.code == 0) {
                location.reload();
            } else {
                alert(res.msg);
            }
        });
    };
    bootstart();
    //当前页码
    var s_page = 2;
	var row = 20;
    var totalPage = Math.ceil({$totalPage}/row);
    $(".more").bind("click", function(){
        var page = s_page;
        var target = '{:U("project/index")}';
        if(totalPage >= page) {
        	$.post(target, { p: page, list_row: row },function(data) {
                if(data.status == 1) {
                    var apphtml ='';

                    if(data.info != null) {
                        $.each(data.info, function(){
                            apphtml += '<li><div class="topB"><img  src="'+this.icon_url+'" alt="'+this.title+'"></div>';
                            apphtml += '<div class="tit"><span>'+this.title+'</span>';
                            apphtml += this.status == 2 ? '<a href="#offlinebox" data-toggle="modal" class="setOfflineStatus online" rid="'+this.token+'"></a>' :
                                '<a href="javascript:;" class="setOnlineStatus offline" rid="'+this.token+'"></a>';
                            apphtml += '<p class="countNum"><span>浏览量：'+this.pv+'</span><span>转发数：'+this.sc+'</span><span>访客数：'+this.uv+'</span></p>';
                            apphtml +='<div class="codeBox"></div>'; 
                            apphtml +='<div class="codeBoxTop"><h5>点击或扫描二维码进行试玩</h5>';
                            apphtml +='<div class="codeshow" value="'+this.code_url+'" publishvalue="'+this.publish_url+'"></div><div style="clear:both;">';
                            apphtml +='<a href="'+this.edit_url+'" class="codeBoxEditBtn">编辑</a>';
                            apphtml +='<a href="#copybox" data-toggle="modal" class="codeBoxCopyBtn" rid="'+this.token+'">复制</a>';
                            apphtml +='<a href="#delbox" data-toggle="modal" class="codeBoxDelBtn" rid="'+this.token+'">删除</a></div></div></li>';    
                        });

                        s_page = parseInt(page) + 1;
                    }
                    
                    if(totalPage <= page) {
                        $(".more").remove();
                    }

                    $(".main").append(apphtml);
                    bootstart();
                }
            });
        }
    });

    var cur_del_rid = cur_copy_rid = cur_offline_rid = cur_online_rid = 0;
    $('#offlinebox .btn-primary').bind("click", function() {
        var rid = cur_offline_rid;
        setStatus(rid, 1);
    });
    
    $('#delbox .btn-primary').bind("click", function() {
        $.post('{:U("delete")}', {appid: cur_del_rid}, function(res) {
            if (res.code == 0) {
                location.reload();
            } else {
                alert(res.msg);
            }
        });
    });

    $("#addtitle").blur(function() {
        var title    = $("#addtitle").val();
        var target = '{:U("checkName")}';
        $.post(target, { id: 0, name: title}, function(data) {
            if(data.success) return true;
            else {
                alert(data.error ? data.error : '校验场景名称失败');
                $("#addtitle").focus();
                return false;
            }
        });
    });

    $('#copybox .btn-primary').bind("click", function() {
        var rid      = cur_copy_rid;
        var title    = $("#addtitle").val();
        var category = $("#addcategory").val();

        if(title == '') {
            alert('请输入场景名称！');
            return  false;
        } else if (category == '') {
            alert('请选择应用场景！');
            return false;
        } else if (title.length > 30) {
            alert('场景名称不能大于30个字符！');
            return false;
        }

        var target = '{:U("copyCreate")}';
        $.post(target, { appid: rid, title: title, category: category}, function(data) {
            if(data == 1) {
                location.reload();
            } else {
                alert('复制失败');
            }
        });
    });
});
</script>
</block>