<extend name="Bee1/common" />
<block name="style">
    <link rel="stylesheet" href="/Public/bee1/css/main.css" />
    <style>
        body{overflow-y:scroll !important; overflow-y:auto;/*解决滚动条抖动问题*/}
        .inner{position:relative;width: 100%;margin-top:50px;/*border: #ccc solid 1px*/}
        .accountInfo{margin-left:175px;width: 80%;min-height:415px;padding:9px 65px 60px;margin-bottom:60px;background-color:#fff;}
        ul.leftMenu{position:absolute;top:0;left:0;width: 175px;z-index:2;/*padding-top:13px;*/}
        ul.leftMenu li{position: relative;height: 50px;line-height: 50px;padding:0 10px;background-color:#e5e5e5;text-align: center;color: #b4b4b4;font-size: 18px;cursor: pointer;}
        ul.leftMenu li.active{left:30px;padding-left:24px;text-align: left;background-color:#099bee;color: #fff;}
        .triangle{font-size: 0.8em;color: #fff;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform: rotate(90deg);}
        .triangleShadow{position:absolute;top:-14px;right:0;background:url(/Public/bee1/images/sprite.png) no-repeat;background-position:0 -1205px;width: 30px;height: 14px}
        h2{font-size: 24px}
        .WhiteGray{color: #525252;font-size: 20px}
        ul.accountForm{margin-top: 40px}
        ul.accountForm li{margin-bottom: 25px}
        ul.accountForm li span,ul.accountForm li label{display:inline-block;width:137px;color: #b4b4b4;font-size: 18px;font-weight: normal;}
        ul.accountForm li input,ul.accountForm li select,ul.accountForm li textarea{width: 470px;height: 30px;line-height:20px;padding:5px 20px;border: #dadada solid 1px} 
    </style>
</block>
<block name="script">
    <script type="text/javascript">
        var posturl = "{:U('User/updateaccountinfo')}"
        var info = {};
            info.category = "{$info.category}" || 0;
            info.city = "{$info.city}" || 0;
            info.turnover = "{$info.turnover}" || 0;
    $(function(){
        $("select[name=category]").val(info.category);
        $("select[name=city]").val(info.city);
        $("select[name=turnover]").val(info.turnover);

        $(".savebtn").click(function(e){
            //validate
            var data = {};
                data.username = $("input[name=username]").val();
                if(!data.username){
                    _errDlg("企业名称不能为空");
                    return;
                }

                data.brand_name = $("input[name=brand_name]").val();
                if(!data.brand_name){
                    _errDlg("主要品牌不能为空");
                    return;
                }

                data.mobile = $("input[name=mobile]").val();
                if(!data.mobile){
                    _errDlg("联系电话不能为空");
                    return;
                }

                data.contact = $("input[name=contact]").val();
                if(!data.contact){
                    _errDlg("联系人不能为空");
                    return;
                }

                data.city = $("select[name=city]").val();
                data.turnover = $("select[name=turnover]").val();
                data.category = $("select[name=category]").val();

                data.production = $("input[name=production]").val();
                if(!data.production){
                    _errDlg("主要产品不能为空");
                    return;
                }

                data.qq = $("input[name=qq]").val();
                data.wechat = $("input[name=wechat]").val();
                data.customer = $("input[name=customer]").val();
                data.remarks = $("textarea").val();

                $.post(posturl, data, function(res){
                    $(".ajaxmsg").html(res.message);
                });

        });
    });
    </script>
</block>
<block name="body">
<div class="container common">    
    <div class="line mt20">
      <h2 class="h2tit"> 账户管理</h2>
   </div> 
   <div class="inner">
     <ul class="leftMenu" style="top:13px">
       <li class="active">账户资料<span class="triangle fr" style="display:block">▲</span><span class="triangleShadow" style="display:block"></span></li>
       <li><a href="{:U('resetpwd')}">修改密码</a></li>
     </ul>
     <div class="accountInfo" style="display:block">
       <div class="line">
        <h3 class="WhiteGray">将账户资料补充完整</h3> 
       </div>
       <ul class="accountForm">
         <li> 
          <label for="comName">企业名称</label>
          <input type="text" name="username" id="comName" value="{$info.username}" class="">
         </li>
          <li> 
          <span>主要品牌</span>
          <input type="text" name="brand_name" id="" value="{$info.brand_name}" class="">
         </li>
         <li>
          <span>联系电话</span>
          <input type="number" name="mobile" id="" value="{$info.mobile}" class="">
         </li>
         <li>
          <span>联系人</span>
          <input type="text" name="contact" id="" value="{$info.contact}" class="">
         </li>
         <li>
          <span>公司所在地</span>
          <select name="city" id="">
            <option value="0">请选择</option>
            <option value="1">北京市</option>
            <option value="2">天津市</option>
            <option value="3">上海市</option>
            <option value="4">重庆市</option>
            <option value="5">河北省</option>
            <option value="6">山西省</option>
            <option value="7">辽宁省</option>
            <option value="8">吉林省</option>
            <option value="9">黑龙江省</option>
            <option value="10">江苏省</option>
            <option value="11">浙江省</option>
            <option value="12">安徽省</option>
            <option value="13">福建省</option>
            <option value="14">江西省</option>
            <option value="15">山东省</option>
            <option value="16">河南省</option>
            <option value="17">湖北省</option>
            <option value="18">湖南省</option>
            <option value="19">广东省</option>
            <option value="20">海南省</option>
            <option value="21">四川省</option>
            <option value="22">贵州省</option>
            <option value="23">云南省</option>
            <option value="24">陕西省</option>
            <option value="25">甘肃省</option>
            <option value="26">青海省</option>
            <option value="27">西藏自治区</option>
            <option value="28">广西壮族自治区</option>
            <option value="29">内蒙古自治区</option>
            <option value="30">宁夏回族自治区</option>
            <option value="31">新疆维吾尔自治区</option>
            <option value="32">香港特别行政区</option>
            <option value="33">澳门地区</option>
            <option value="33">台湾省</option>
          </select>
         </li>
         <li>
          <span>公司年营业额</span>
          <select name="turnover" id="">
            <option value="0">请选择</option>
            <option value="1">10亿元以上</option>
            <option value="2">1亿元~10亿元</option>
            <option value="3">1000万元~1亿元</option>
            <option value="4">1000万元以下</option>
          </select>
         </li>
         <li>
          <span>所属行业</span>
          <select name="category" id="">
            <option value="0">请选择</option>
            <option value="1">广告/营销/公关</option>
            <option value="2">互联网</option>
            <option value="3">汽车</option>
            <option value="4">电子产品</option>
            <option value="5">建筑/地产</option>
            <option value="6">教育/金融/保险</option>
            <option value="7">传媒/娱乐</option>
            <option value="8">旅游/交通</option>
            <option value="9">其他</option>
          </select>
         </li>
         <li>
          <span>主要产品</span>
          <input type="text" name="production" id="" value="{$info.production}" class="">
         </li>
         <li>
          <span>QQ</span>
          <input type="text" name="qq" id="" value="{$info.qq}" class="">
         </li>
         <li>
          <span>微信</span>
          <input type="text" name="wechat" id="" value="{$info.wechat}" class="">
         </li>
         <li>
          <span>目标客户</span>
          <input type="text" name="customer" id="" value="{$info.customer}" class="">
         </li>
         <li>
          <span style="position:relative;bottom:30px">备注</span>
          <textarea style="height:50px" class="remark">{$info.remarks}</textarea>
         </li>
       </ul>
       <p class="btnBlue savebtn" style="width:170px;margin:0 auto;position:relative;right:96px;font-size:18px">保存修改</p>
       <p class="ajaxmsg" style="coler:red;"></p>
     </div>
   </div>
  </div>
</block>